<section style="background: #1a1a1a;">
<div class="container china_north_korea_container text-center" id="section_china_north_korea" >
	<div class="row" style="padding-top: 60px; padding-bottom: 60px;" >
		<div class="col-md-12">
	   	<div class="china_north_korea_en text-center">China & North Korea</div>
		<div class="china_north_korea_ch text-center">
			<h2 class="no-background"><span class="text">中國大陸 & 北朝鮮</span></h2>
		</div>	  	
	    </div>
	</div>
</div> 
<div class="container-fluid text-center">
	<div class="row china_background" >
		<div class="col-sm-4">  
			<%=image_tag 'china_n_korea/china_word_1.png', class: 'china_north_korea_words china_north_korea_words_2' %>		
	    </div>
		<div class="col-sm-4 col-sm-offset-4">  
			<%=image_tag 'china_n_korea/china_word_2.png', class: 'china_north_korea_words china_north_korea_words_2' %>		
	    </div>    
	</div>
</div> 
<div class="container text-center">
	<div class="row" style="padding-top: 70px;" >
		<div class="col-sm-4"> 
			<%=image_tag 'china_n_korea/mountain.png', class: 'china_north_korea_mountain china_north_korea_mountain_2' %>
	    </div>
		<div class="col-sm-4 china_north_korea_sub_title"> 
			中國大陸	
	    </div>
		<div class="col-sm-4">  	
			<%=image_tag 'china_n_korea/mountain.png', class: 'china_north_korea_mountain china_north_korea_mountain_2' %>		
	    </div>        
	</div>
	<div class="row" style="padding-bottom: 70px;" >
		<div class="col-sm-4"> 
			<div class="china_north_korea_content china_north_korea_content_2" style="padding-top: 45px;">專為團體<br>客製化行程</div>
	    </div>
		<div class="col-sm-4"> 
			<div class="china_north_korea_content china_north_korea_content_2">各航線代理</div>		
	    </div>
		<div class="col-sm-4">  
			<div class="china_north_korea_content china_north_korea_content_2" style="padding-top: 50px;">台灣重機遊大陸各省</div>			
	    </div>        
	</div>	
</div> 
<div class="container-fluid text-center">
	<div class="row n_korea_background" >
		<div class="col-sm-4">  
			<%=image_tag 'china_n_korea/n_k_word_1.png', class: 'china_north_korea_words china_north_korea_words_1' %>		
	    </div>
		<div class="col-sm-4 col-sm-offset-4">  
			<%=image_tag 'china_n_korea/n_k_word_2.png', class: 'china_north_korea_words china_north_korea_words_1' %>		
	    </div>    
	</div>
</div> 
<div class="container text-center">
	<div class="row" style="padding-top: 70px;" >
		<div class="col-sm-4"> 
			<%=image_tag 'china_n_korea/mountain.png', class: 'china_north_korea_mountain china_north_korea_mountain_1' %>
	    </div>
		<div class="col-sm-4 china_north_korea_sub_title"> 
			北朝鮮 	
	    </div>
		<div class="col-sm-4">  	
			<%=image_tag 'china_n_korea/mountain.png', class: 'china_north_korea_mountain china_north_korea_mountain_1' %>		
	    </div>        
	</div>
	<div class="row" style="padding-bottom: 70px;" >
		<div class="col-sm-4"> 
			<div class="china_north_korea_content china_north_korea_content_1">客製化行程</div>
	    </div>
		<div class="col-sm-4"> 
			<div class="china_north_korea_content china_north_korea_content_1">簽證提供</div>		
	    </div>
		<div class="col-sm-4">  
			<div class="china_north_korea_content china_north_korea_content_1">高麗航空代訂</div>			
	    </div>        
	</div>	
</div> 
</section>