<div class="row" style="background: #1a1a1a; height: 230px; color: #c5a063; padding-top: 20px;" >
	<div class="col-sm-3 hidden-xs" style="position: relative">
		<%=image_tag 'single_diamond.png', class: "footer_diamond footer_diamond_left", style:'left:50%; margin-left: -35px'%> 
		<%=image_tag 'single_diamond.png', class: "footer_diamond footer_diamond_right", style:'right:50%; margin-right: -35px'%> 
    </div>
	<div class="col-sm-6 text-center">
		<%=image_tag 'marker.png', class: 'footer_marker'%> 
		<div style="font-style: italic; font-family:Georgia; letter-spacing: 2px;">
			<span>TEL</span>
			<span>+886 2 55816666</span>
			<span style="margin-left: 20px;">FAX</span>
			<span>+886 2 55807777</span>
		</div>
		<div style="letter-spacing: 3px;">台北市民生東路三段3號10樓</div>
		<div>10F., No.3, Sec. 3, Minsheng E. Rd., Zhongshan Dist., Taipei City 104, Taiwan (R.O.C.)</div>	
    </div>
	<div class="col-sm-3 hidden-xs" style="position: relative">
		<%=image_tag 'single_diamond.png', class: "footer_diamond footer_diamond_left", style:'left:50%; margin-left: -35px'%>
		<%=image_tag 'single_diamond.png', class: "footer_diamond footer_diamond_right", style:'right:50%; margin-right: -35px'%> 		 
    </div>        
</div>