<div class="row" style="padding-top: 60px; padding-bottom: 60px;" >
	<div class="col-md-10 col-md-offset-1">
   	<div class="taiwan_en text-center">Taiwan</div>
   	<!--
	<div class="taiwan_ch text-center">
		<h2 class="no-background"><span class="text">台灣</span></h2>
	</div>	  	
	-->
    </div>
</div>
<div class="row" id="section_products_TW_1">
	<div class="col-sm-8 taiwan_section_container_1">
    	<div class="taiwan_section_top">
	    	<div class="taiwan_section_top_inner">
			<div class="taiwan_section_top_en">Visit</div>
			<div class="taiwan_section_top_ch">專業參訪</div>
			<div class="taiwan_big_diamond taiwan_big_diamond_1"></div>
			<div class="taiwan_big_diamond taiwan_big_diamond_2"></div>
			<div class="taiwan_big_diamond taiwan_big_diamond_3"></div>
			</div>  
		</div>                    		
    </div>
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_1_2.jpg'%>);" data-toggle="modal" data-target="#myModal">
			<div class="index_taiwan_category text-center">
				<div class="taiwan_diamond taiwan_diamond_left"></div>
				<div class="taiwan_diamond taiwan_diamond_right"></div>					
				<div class="taiwan_text_1">文化考察</div>
			</div>
		</div>                    		
    </div>     
</div>
<div class="row">
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_1_3.jpg'%>);" data-toggle="modal" data-target="#myModal">
			<div class="index_taiwan_category text-center">
				<div class="taiwan_diamond taiwan_diamond_left"></div>
				<div class="taiwan_diamond taiwan_diamond_right"></div>	
				<div class="taiwan_text_1">消防考察</div>
			</div>
		</div>                    		
    </div>
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_1_1.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>	
					<div class="taiwan_text_1">醫療考察</div>
				</div>
		</div>                    		
    </div>
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_1_4.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>					
					<div class="taiwan_text_1">保全考察</div>
				</div>
		</div>                    		
    </div>     
</div>
<div class="row">
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_1_5.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>	
					<div class="taiwan_text_1">金融考察</div>
				</div>
		</div>                    		
    </div>
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_1_6.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>	
					<div class="taiwan_text_1">科技考察</div>
				</div>
		</div>                    		
    </div>
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_1_7.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>					
					<div class="taiwan_text_1">農業考察</div>
				</div>
		</div>                    		
    </div>     
</div>
<div class="row" id="section_products_TW_2">
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_2_4.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>					
					<div class="taiwan_text_1">東線十五天</div>
				</div>
		</div>                    		
    </div> 
	<div class="col-sm-8 taiwan_section_container_1">
    	<div class="taiwan_section_top">
	    	<div class="taiwan_section_top_inner">
			<div class="taiwan_section_top_en">Living</div>
			<div class="taiwan_section_top_ch">頂級慢活</div>
			<div class="taiwan_big_diamond taiwan_big_diamond_1"></div>
			<div class="taiwan_big_diamond taiwan_big_diamond_2"></div>
			<div class="taiwan_big_diamond taiwan_big_diamond_3"></div>
			</div>  
		</div>                    		
    </div>        
</div>
<div class="row">
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_2_2.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>	
					<div class="taiwan_text_1">西線十五天</div>
				</div>
		</div>                    		
    </div>
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_2_1.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>	
					<div class="taiwan_text_1">東線八天</div>
				</div>
		</div>                    		
    </div>
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_2_3.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>					
					<div class="taiwan_text_1">西線八天</div>
				</div>
		</div>                    		
    </div>     
</div>
<div class="row" id="section_products_TW_3">
	<div class="col-sm-12 taiwan_section_container_1">
    	<div class="taiwan_section_top">
	    	<div class="taiwan_section_top_inner">
			<div class="taiwan_section_top_en">Training</div>
			<div class="taiwan_section_top_ch">專業培訓</div>
			<div class="taiwan_big_diamond taiwan_big_diamond_1"></div>
			<div class="taiwan_big_diamond taiwan_big_diamond_2"></div>
			<div class="taiwan_big_diamond taiwan_big_diamond_3"></div>
			</div>  
		</div>                    		
    </div>    
</div>
<div class="row">
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_3_2.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>	
					<div class="taiwan_text_1">養老培訓</div>
				</div>
		</div>                    		
    </div>
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_3_1.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>	
					<div class="taiwan_text_1">農業培訓</div>
				</div>
		</div>                    		
    </div>    
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background-image: url(<%=asset_path 'taiwan/tw_3_3.jpg'%>);" data-toggle="modal" data-target="#myModal">
				<div class="index_taiwan_category text-center">
					<div class="taiwan_diamond taiwan_diamond_left"></div>
					<div class="taiwan_diamond taiwan_diamond_right"></div>					
					<div class="taiwan_text_1">文創培訓</div>
				</div>
		</div>                    		
    </div>     
</div>
<div class="row"  id="section_products_TW_4">
	<div class="col-sm-8 taiwan_section_container_1">
    	<div class="taiwan_section_top" style="background: #f1f1f1;">
	    	<div class="taiwan_section_top_inner">
			<div class="taiwan_section_top_en">Beauty</div>
			<div class="taiwan_section_top_ch">醫美健檢</div>
			<div class="taiwan_big_diamond taiwan_big_diamond_1"></div>
			<div class="taiwan_big_diamond taiwan_big_diamond_2"></div>
			<div class="taiwan_big_diamond taiwan_big_diamond_3"></div>
			</div>  
		</div>                    		
    </div>  
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background: #aeb102">
			<div class="index_taiwan_health">
				<div class="taiwan_section_health_title">健檢</div>
				<div class="taiwan_section_health_description">
				體格檢查，簡稱體檢，也稱做身體檢查、理學檢查或健康檢查，是醫生運用自己的感官、檢查器具、實驗室設備等來直接或間接檢查患者身體狀況的方法，其目的是收集患者有關健康的客觀資料，及早發現、預防疾病隱患。				
				</div>	
				<%=image_tag 'taiwan/tw_cross.png', class: 'taiwan_cross' %>	
			</div>
		</div>                    		
    </div>         
</div>
<div class="row" style="margin-bottom: 100px;"> 
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background: #859f33">
			<div class="index_taiwan_health">
				<div class="taiwan_section_health_title">醫美</div>
				<div class="taiwan_section_health_description">
				體格檢查，簡稱體檢，也稱做身體檢查、理學檢查或健康檢查，是醫生運用自己的感官、檢查器具、實驗室設備等來直接或間接檢查患者身體狀況的方法，其目的是收集患者有關健康的客觀資料，及早發現、預防疾病隱患。				
				</div>	
				<%=image_tag 'taiwan/tw_cross.png', class: 'taiwan_cross' %>	
			</div>
		</div>                    		
    </div>   
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background: #aeb102">
			<div class="index_taiwan_health">
				<div class="taiwan_section_health_title">DNA檢測</div>
				<div class="taiwan_section_health_description">
				體格檢查，簡稱體檢，也稱做身體檢查、理學檢查或健康檢查，是醫生運用自己的感官、檢查器具、實驗室設備等來直接或間接檢查患者身體狀況的方法，其目的是收集患者有關健康的客觀資料，及早發現、預防疾病隱患。				
				</div>	
				<%=image_tag 'taiwan/tw_cross.png', class: 'taiwan_cross' %>	
			</div>
		</div>                    		
    </div>  
	<div class="col-sm-4 taiwan_section_container_1">
    	<div class="taiwan_section_image" style="background: #859f33">
			<div class="index_taiwan_health">
				<div class="taiwan_section_health_title">幹細胞抗癌衰老</div>
				<div class="taiwan_section_health_description">
				體格檢查，簡稱體檢，也稱做身體檢查、理學檢查或健康檢查，是醫生運用自己的感官、檢查器具、實驗室設備等來直接或間接檢查患者身體狀況的方法，其目的是收集患者有關健康的客觀資料，及早發現、預防疾病隱患。				
				</div>	
				<%=image_tag 'taiwan/tw_cross.png', class: 'taiwan_cross' %>	
			</div>
		</div>                    		
    </div>                
</div>
<%= render 'taiwan/tw_1'%>
