<div class="carousel slide carousel-fade" data-ride="carousel" id="section_top">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
        <div class="item">
        </div>
        <div class="item">
        </div>
    </div>
</div>
<div class="container-fluid">
<%= render 'top_center'%> 
</div>  
<div class="container-fluid" id="section_about" >
<%= render 'about'%> 
</div>  
<div class="container-fluid" id="section_about_manager" >
<%= render 'about_manager'%> 
</div>  
<div class="container-fluid" id="section_products_TW_1" >
	<div class="row" style="background: #c5a063; height: 500px;">
    	<div class="col-lg-8 col-lg-offset-2">
        </div>
    </div>
</div>
<div class="container-fluid">
	<div class="row" style="background: #2c1b10; height: 500px;">
    	<div class="col-lg-8 col-lg-offset-2">
        </div>
    </div>
</div>
<div class="container-fluid">
	<div class="row" style="background: #c5a063; height: 500px;">
    	<div class="col-lg-8 col-lg-offset-2">
        </div>
    </div>
</div>
<div class="container-fluid">
<%= render 'timeline'%>   
</div>
<%= render 'contact'%> 
<div class="container-fluid" id="section_footer">
<%= render 'footer'%>  	
</div>
<%= render 'script'%>    