<!-- Modal -->
<div id="myModal3" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">   
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="color: #333333; opacity: 1">&times;</button>     
        <div style="">
        <%=image_tag 'taiwan/tw_modal_top_diamond.png', style: 'height: 160px;', class:"hidden-xs"%>
        <div class="modal-title">Living</div> 
        </div>   
      </div>             
      	<div id="carousel-example-generic_3" class="carousel-example-generic carousel slide" data-ride="carousel">
	  		<!-- Wrapper for slides -->
	  		<div class="carousel-inner">
			    <div class="item active">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">文化考察</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-2 col-sm-offset-1">  			
							<div class="diamond">
									<div class="diamond-inner"> DAY 1 </div>
							</div>						
							<div class="modal_inner_content">	
							<ul>
							<li>接機</li>
							<li>入住酒店</li>
							</ul>
							</div>
			        	</div>
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bag.png', class: 'tw_modal_bag hidden-xs'%> 
			        	</div> 
						<div class="col-sm-2">   
							<div class="diamond">
									<div class="diamond-inner"> DAY 2 </div>
							</div>		
							<div class="modal_inner_content">
							<ul>				  
								<li>臺北</li>
								<li>華山文創園區</li>
								<li>三創數位生活園區</li>
							</ul>
							</div>
			        	</div>  
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bus.png', class: 'tw_modal_bus hidden-xs'%> 
			        	</div>  
						<div class="col-sm-2"> 
							<div class="diamond">
									<div class="diamond-inner"> DAY 3 </div>
							</div>	
							<div class="modal_inner_content">				    
							<ul>				  
								<li>臺北</li>
								<li>台中</li>
								<li>藝術銀行</li>
								<li>中台禪寺</li>	
								<li>日月潭風景區</li>	
								<li>嘉義</li>									
							</ul>
							</div>
			        	</div>          	        	        	       	        	
			        </div>
			    </div>
				<div class="item">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">文化考察</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-2 col-sm-offset-1">  			
							<div class="diamond">
									<div class="diamond-inner"> DAY 4 </div>
							</div>						
							<div class="modal_inner_content">	
							<ul>
							<li>嘉義</li>
							<li>阿里山森林公園</li>
							<li>台南</li>
							</ul>
							</div>
			        	</div>
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bag.png', class: 'tw_modal_bag hidden-xs'%> 
			        	</div> 
						<div class="col-sm-2">   
							<div class="diamond">
									<div class="diamond-inner"> DAY 5 </div>
							</div>		
							<div class="modal_inner_content">
							<ul>				  
								<li>台南</li>
								<li>台南古跡</li>
								<li>奇美博物館</li>
								<li>墾丁風景區</li>
								<li>墾丁大街</li>
								<li>高雄</li>								
							</ul>
							</div>
			        	</div>  
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bus.png', class: 'tw_modal_bus hidden-xs'%> 
			        	</div>  
						<div class="col-sm-2"> 
							<div class="diamond">
									<div class="diamond-inner"> DAY 6 </div>
							</div>	
							<div class="modal_inner_content">				    
							<ul>				  
								<li>高雄</li>
								<li>西子灣風景區</li>
								<li>佛陀紀念館</li>
								<li>臺北</li>
								<li>士林官邸</li>
								<li>故宮博物館</li>								
							</ul>
							</div>
			        	</div>          	        	        	       	        	
			        </div>
			    </div>
				<div class="item">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">文化考察</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-2 col-sm-offset-1">  			
							<div class="diamond">
									<div class="diamond-inner"> DAY 7 </div>
							</div>						
							<div class="modal_inner_content">	
							<ul>
							<li>臺北</li>
							<li>桃園</li>
							<li>搭機離台</li>
							</ul>
							</div>
			        	</div>        	        	        	       	        	
			        </div>
			    </div>			    		    
	  		</div>
		  	<!-- Controls -->
		  	<a class="left carousel-control" href="#carousel-example-generic_3" role="button" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
		  	</a>
		  	<a class="right carousel-control" href="#carousel-example-generic_3" role="button" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
		  	</a>
		</div>			
    </div>
  </div>
</div>