<!-- Modal -->
<div id="myModal1" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">   
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="color: #333333; opacity: 1">&times;</button>     
        <div style="">
        <%=image_tag 'taiwan/tw_modal_top_diamond.png', style: 'height: 160px;', class:"hidden-xs"%>
        <div class="modal-title">Living</div> 
        </div>   
      </div>             
      	<div id="carousel-example-generic_1" class="carousel-example-generic carousel slide" data-ride="carousel">
	  		<!-- Wrapper for slides -->
	  		<div class="carousel-inner">
			    <div class="item active">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">西線14天</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-2 col-sm-offset-1">  			
							<div class="diamond">
									<div class="diamond-inner"> DAY 1 </div>
							</div>						
							<div class="modal_inner_content">	
							<ul>
							<li>大陆桃园</li>
							<li>新竹南园</li>
							<li>养生假期</li>
							<li>心灵养生课程</li>
							</ul>
							</div>
			        	</div>
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bag.png', class: 'tw_modal_bag hidden-xs'%> 
			        	</div> 
						<div class="col-sm-2">   
							<div class="diamond">
									<div class="diamond-inner"> DAY 2 </div>
							</div>		
							<div class="modal_inner_content">
							<ul>				  
								<li>新竹</li>
								<li>南园</li>
								<li>养生假期</li>
								<li>心灵养生课程</li>
							</ul>
							</div>
			        	</div>  
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bus.png', class: 'tw_modal_bus hidden-xs'%> 
			        	</div>  
						<div class="col-sm-2"> 
							<div class="diamond">
									<div class="diamond-inner"> DAY 3 </div>
							</div>	
							<div class="modal_inner_content">				    
							<ul>				  
								<li>新竹苗栗</li>
								<li>南园</li>
								<li>养生假期</li>
								<li>心灵养生课程</li>	
							</ul>
							</div>
			        	</div>          	        	        	       	        	
			        </div>
			    </div>
				<div class="item">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">西線14天</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-2 col-sm-offset-1">  			
							<div class="diamond">
									<div class="diamond-inner"> DAY 4 </div>
							</div>						
							<div class="modal_inner_content">	
							<ul>
							<li>苗栗</li>
							<li>胜兴车站</li>
							<li>龙腾断桥</li>
							<li>三义木雕博物馆木雕</li>
							</ul>
							</div>
			        	</div>
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bag.png', class: 'tw_modal_bag hidden-xs'%> 
			        	</div> 
						<div class="col-sm-2">   
							<div class="diamond">
									<div class="diamond-inner"> DAY 5 </div>
							</div>		
							<div class="modal_inner_content">
							<ul>				  
								<li>苗栗</li>
								<li>三峡老街</li>
								<li>莺歌陶瓷博物馆</li>
							</ul>
							</div>
			        	</div>  
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bus.png', class: 'tw_modal_bus hidden-xs'%> 
			        	</div>  
						<div class="col-sm-2"> 
							<div class="diamond">
									<div class="diamond-inner"> DAY 6 </div>
							</div>	
							<div class="modal_inner_content">				    
							<ul>				  
								<li>苗栗宜兰</li>
								<li>林美石盘步道</li>
								<li>金车威士忌酒厂</li>
							</ul>
							</div>
			        	</div>          	        	        	       	        	
			        </div>
			    </div>
				<div class="item">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">西線14天</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-2 col-sm-offset-1">  			
							<div class="diamond">
									<div class="diamond-inner"> DAY 7 </div>
							</div>						
							<div class="modal_inner_content">	
							<ul>
							<li>宜兰</li>
							<li>梅花湖风景区单车体验</li>
							<li>传统艺术中心</li>
							</ul>
							</div>
			        	</div>
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bag.png', class: 'tw_modal_bag hidden-xs'%> 
			        	</div> 
						<div class="col-sm-2">   
							<div class="diamond">
									<div class="diamond-inner"> DAY 8 </div>
							</div>		
							<div class="modal_inner_content">
							<ul>				  
								<li>宜兰九份</li>
								<li>草岭古道</li>
								<li>九份老街</li>
								<li>夜间导览(观星看夜景生态)</li>
							</ul>
							</div>
			        	</div>  
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bus.png', class: 'tw_modal_bus hidden-xs'%> 
			        	</div>  
						<div class="col-sm-2"> 
							<div class="diamond">
									<div class="diamond-inner"> DAY 9 </div>
							</div>	
							<div class="modal_inner_content">				    
							<ul>				  
								<li>九份一日游</li>
								<li>山城美馆</li>
								<li>黄金博物馆</li>
							</ul>
							</div>
			        	</div>          	        	        	       	        	
			        </div>
			    </div>
				<div class="item">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">西線14天</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-2 col-sm-offset-1">  			
							<div class="diamond">
									<div class="diamond-inner"> DAY 10 </div>
							</div>						
							<div class="modal_inner_content">	
							<ul>
							<li>九份台北</li>
							<li>黄金瀑布</li>
							<li>十三层遗址</li>
							<li>法鼓山</li>							
							</ul>
							</div>
			        	</div>
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bag.png', class: 'tw_modal_bag hidden-xs'%> 
			        	</div> 
						<div class="col-sm-2">   
							<div class="diamond">
									<div class="diamond-inner"> DAY 11 </div>
							</div>		
							<div class="modal_inner_content">
							<ul>				  
								<li>台北故宫博物院</li>
								<li>士林官邸</li>
								<li>阳明山国家公园</li>
							</ul>
							</div>
			        	</div>  
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bus.png', class: 'tw_modal_bus hidden-xs'%> 
			        	</div>  
						<div class="col-sm-2"> 
							<div class="diamond">
									<div class="diamond-inner"> DAY 12 </div>
							</div>	
							<div class="modal_inner_content">				    
							<ul>				  
								<li>台北北投禅园</li>
								<li>国裕麦森瓷器博物馆</li>
								<li>安排顶级享受禾生养生SPA</li>
							</ul>
							</div>
			        	</div>          	        	        	       	        	
			        </div>
			    </div>	
				<div class="item">
					<div class="row" style="padding-top: 30px; padding-bottom: 30px;" >
						<div class="col-md-10 col-md-offset-1">
						<div class="taiwan_modal_ch text-center">
							<h2 class="no-background"><span class="text">西線14天</span></h2>
						</div>	  	
					    </div>
					</div>
					<div class="row text-center" style=""> 
						<div class="col-sm-2 col-sm-offset-1">  			
							<div class="diamond">
									<div class="diamond-inner"> DAY 13 </div>
							</div>						
							<div class="modal_inner_content">	
							<ul>
							<li>台北</li>
							<li>松山文化创意园区-诚品书店</li>
							<li>Taipei 101</li>
							</ul>
							</div>
			        	</div>
						<div class="col-sm-2">     
							<%= image_tag 'taiwan/tw_modal_bag.png', class: 'tw_modal_bag hidden-xs'%> 
			        	</div> 
						<div class="col-sm-2">   
							<div class="diamond">
									<div class="diamond-inner"> DAY 14 </div>
							</div>		
							<div class="modal_inner_content">
							<ul>				  
								<li>台北</li>
								<li>桃园机场温暖的家</li>
							</ul>
							</div>
			        	</div>          	        	        	       	        	
			        </div>
			    </div>			    		    
	  		</div>
		  	<!-- Controls -->
		  	<a class="left carousel-control" href="#carousel-example-generic_1" role="button" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
		  	</a>
		  	<a class="right carousel-control" href="#carousel-example-generic_1" role="button" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
		  	</a>
		</div>			
    </div>
  </div>
</div>